*~
*.tmp
CS160_Ginect/obj
CS160_Ginect/obj
CS160_Ginect\obj\x86\Debug\*
CS160_Ginect\obj\x86\Debug\TempPE\*

CS160_Ginect/bin
CS160_Ginect\bin\*
CS160_Ginect\bin\Debug\*

CS160_Ginect.suo

wpfApplication1/wpfApplication1/obj
WpfApplication1\WpfApplication1\obj\x86\Debug\*
WpfApplication1\WpfApplication1\obj\x86\Debug\TempPE\*

wpfApplication1/wpfApplication1/bin
WpfApplication1\WpfApplication1\bin\*
WpfApplication1\WpfApplication1\bin\Debug\*
WpfApplication1\WpfApplication1\bin\Release\*

WpfApplication1\WpfApplication1.suo
WpfApplication1/WpfApplication1.suo

Dependencies\KinectWpfViewers\obj\Debug\*
Dependencies\KinectWpfViewers\obj\Release\*

Dependencies/KinectWpfViewers/bin
Dependencies/KinectWpfViewers/obj